Repository wuespace/telestion-project-daedalus2, pull requests merged in 2021-05, with the labels that each got.

#11 feat: Add mavlink definitions and current Drehtest-Record
  application/src/main/java/de/wuespace/telestion/project/daedalus2/mavlink/Drehtest.java
  definitions/.gitkeep
  definitions/drehtest.xml
Labels: :one: prio: high, :tulip: enhancement, java

#19 feat(database): added working database implementation
  application/build.gradle
  application/conf/config.json
  application/src/main/java/de/wuespace/telestion/project/daedalus2/database/DataListener.java
  application/src/main/java/de/wuespace/telestion/project/daedalus2/database/DbRequest.java
  application/src/main/java/de/wuespace/telestion/project/daedalus2/database/DbResponse.java
  application/src/main/java/de/wuespace/telestion/project/daedalus2/database/MongoDatabaseService.java
  application/src/main/java/de/wuespace/telestion/project/daedalus2/database/PeriodicDataAggregator.java
  application/src/main/java/de/wuespace/telestion/project/daedalus2/example/SystemTPublisher.java
  application/src/test/java/SimpleTest.java
Labels: :tulip: enhancement, dependencies, java

#20 Adjust client to new format of "aggregated data sample" and listen to "real" event bus addresses
  client/src/lib/fake-data-generator.ts
  client/src/lib/gen-fake-data.ts
  client/src/lib/gen-random-data.ts
  client/src/model/dashboards/widget-props/pgraph-props.ts
  client/src/model/data-sample.ts
  client/src/plugins/mock-server-plugin.ts
  client/src/widgets/pgraph-widget/hooks/use-dynamic-data.ts
  client/src/widgets/pgraph-widget/lib/create-node.ts
  client/src/widgets/pgraph-widget/lib/remove-old-samples.ts
Labels: :tulip: enhancement, :two: prio: medium, javascript
